<footer class="footer text-center navbar-expand-lg container-fluid">
    <p class="text-center fs-5 mx-lg-5 text-light p-3">
        <q class="fs-5 fw-bold text-break m-lg-5">
            O bom vinho é óleo puro para a lâmpada do intelecto: dá alma, força e impulso até o firmamento
        </q>
        <br>- Gottfried Burger
    </p>
    
    <hr class="text-danger">
    
    <div>
        <p class="text-light fs-5">Nos siga nas redes sociais!</p>
        <div class="text-light">
            <a href="https://www.instagram.com" target="_blank">
                <i class="bi bi-instagram text-light" aria-label="Instagram"></i>
            </a>
            <a href="https://www.facebook.com" target="_blank">
                <i class="bi bi-facebook text-light" aria-label="Facebook"></i>
            </a>
        </div>
        
        <p class="text-light fs-5 mx-5">Quer enviar uma crítica, uma sugestão ou um alô?</p>
        <div class="text-light fs-5">
            <i class="bi bi-envelope-open"></i> ouiwine@contato.com
        </div>
    </div>
    
    <hr class="text-danger">
    
    <address class="mx-3">
        <p class="text-light">
            Desenvolvido por
            <a href="https://github.com/brendagaudencio" 
               class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" 
               target="_blank">Brenda Gaudêncio</a>
            e
            <a href="https://github.com/JamalShadowDev" 
               class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" 
               target="_blank">Marcos Moreira</a>.
        </p>
        <p class="text-light text-opacity-50 mx-4">
            &copy; 2025, Brenda Gaudêncio and Marcos Moreira. All Rights Reserved.
        </p>
    </address>
</footer>