.navbar {
  background-color: #170000;
}

ul li {
  font-weight: normal;
  font-size: 1.2rem;
}

ol li {
  font-size: 1.2rem;
}

.about {
  padding: 20rem 0;

  background-image: url(../../images/vecteezy_wine-and-grapes-lying-on-a-table_22394752.jpg);
  
  filter: grayscale(100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .about {
    padding: 15rem 0;
  }
}

.footer {
  background-color: #170000;
  padding: 5rem 0;
}