body {
  background: rgb(23,0,0);
  background: linear-gradient(0deg, rgba(23,0,0,1) 0%, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 100%);
}

.navbar {
  background-color: #170000;
}

ul li {
  font-weight: normal;
  font-size: 1.2rem;
}

ol li {
  font-size: 1.2rem;
}

.about {
  padding: 20rem 0;

  background-image: url(../../images/vecteezy_wine-and-grapes-lying-on-a-table_22394752.jpg);

  /* filter: grayscale(100%); */
  filter: brightness(65%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .about {
    padding: 15rem 0;
  }
}

.tipos h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.tipos p {
  font-size: 1.3rem;
  font-weight: 400;
}

.tipos i {
  font-size: 1.1rem;
  color: rgb(100, 100, 100);
}

.footer {
  background-color: #170000;
  padding: 5rem 0;
}
